<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="/css/change.css" />
    <script type="text/javascript" src="/js/change.js"></script>
    <script type="text/javascript"src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<div class="control">
    <div class="item">
        <div id="login" class="active">登录</div><div id="register">注册</div>
    </div>
    <div class="content">
        <div style="display: block;">
            <p>账号 <a id="login_username_message"></a></p>
            <input id="login_username" type="text" placeholder="username" />
            <p>密码 <a id="login_password_message"></a></p>
            <input id="login_password" type="password" placeholder="password"/>
            <a id="login_message"></a>
            <br/>
            <input id="login_submit" type="button" value="登录"/>
        </div>
    </div>
</div>


</body>
</html>
