<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second6S9</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/auto_quit.js"></script>
    <script type="text/javascript"src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>


<body>
    <div id = "main_box">
        <h2 id="message"></h2>
        <p>您当前的状态：<a id="current_status">在线</a></p>
        <p>在线人数:<a id="current_online_numbers">加载中...</a></p>
    </div>
    <div id = "current_online_users">

    </div>

</body>



</html>