<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second(S)</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/auto_quit.js"></script>
    <script type="text/javascript"src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>


<body>

<!--顶区-->
<div class="nva">
    <h3 id="message"></h3>
    <p align="center">您当前的状态：<a id="current_status">在线</a></p>

</div>



<div class="header">
    <!--左区-->
    <div class="left">
        <div class="card">

            <div id = "current_online_users">

            </div>
            <br>
            <h4>在线人数:<a id="current_online_numbers">加载中...</a></h4>

        </div>
    </div>


    <div class="right">
        <!--右上区-->
        <div class="rig_upper">

            <h3 align="center">数据统计</h3>
            <br>
            <table border="1px solid black"  style="margin: auto;" width='60%'>
                <tr>
                    <th></th>
                    <th>浏览量(PV)</th>
                    <th>访客数(UV)</th>
                    <th>IP数(IP)</th>
                </tr>
                <tr>
                    <td align="center">今日</td>
                    <td align="center" id="today_pv">0</td>
                    <td align="center" id="today_uv">0</td>
                    <td align="center" id="today_ip">0</td>
                </tr>
                <tr>
                    <td align="center">昨日</td>
                    <td align="center" id="yesterday_pv">0</td>
                    <td align="center" id="yesterday_uv">0</td>
                    <td align="center" id="yesterday_ip">0</td>
                </tr>
            </table>

            <table border="1px solid black"  style="margin: auto;" width='60%'>
                <tr>
                    <th>查询n天前的总数据</th>
                    <th>n天的浏览量(PV)</th>
                    <th>n天的访客数(UV)</th>
                    <th>n天的IP数(IP)</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td align="center">
                        n = <input id="total_count"
                               type="number"
                               text-align="center"
                               min="0"
                               max="30"
                               step="1"
                               value="0">
                    </td>
                    <td align="center" id="total_pv">-</td>
                    <td align="center" id="total_uv">-</td>
                    <td align="center" id="total_ip">-</td>
                    <td align="center">
                        <input id="total_count_submit" type="button" value="查询"/>
                    </td>
                </tr>
            </table>
            <div class="box" align="center">
                <div id="blackHouse_button" class="color-button">
                    点我进黑名单哦~
                </div>
            </div>

<!--            <input id="blackHouse" type="button" value="点我进黑名单哦~"/>-->

        </div>


        <!--右下区-->
        <div class="rig_under">
            <h3 align="center">广告位，待招商(✿◡‿◡)</h3>

        </div>
    </div>

    <!--尾区-->
    <div class="foot">
        <h2 id="seconds_logo">Second(S)技术研发</h2>
    </div>
</div>
</body>


</html>